{% extends 'base.html.twig' %}

{% block title %}Egoerak{% endblock %}

{% block main_header_toolbar %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{{ path('status_index') }}" class="btn btn-sm btn-primary">Zerrenda</a>
            <a id="btnSave" href="javascript:void(0);" class="btn btn-sm btn-success">Gorde</a>

        </div>
    </div>
{% endblock %}

{% block body %}

    {{ include('status/_form.html.twig') }}

{% endblock %}
